test/mm_service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://example.com/service"
                  xmlns:importer="http://example.com/importer"
                  xmlns:importee="http://example.com/importee"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="service"
                  targetNamespace="http://example.com/service">
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/service">
      <xsd:import namespace="http://example.com/importer"
                  schemaLocation="importer.xsd"/>
      <xsd:element name="getPosers">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPosersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="integer" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PosersFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="deliveredReq">
    <wsdl:part name="parameters" element="importer:delivered"/>
  </wsdl:message>
  <wsdl:message name="getPosersRequest">
    <wsdl:part name="parameters" element="tns:getPosers"/>
  </wsdl:message>
  <wsdl:message name="getPosersResponse">
    <wsdl:part name="parameters" element="tns:getPosersResponse"/>
  </wsdl:message>
  <wsdl:message name="getPosersFault">
    <wsdl:part name="fault" element="tns:PosersFault"/>
  </wsdl:message>
  <wsdl:portType name="ExamplePort">
    <wsdl:operation name="pokebowl">
      <wsdl:input message="tns:deliveredReq"/>
      <wsdl:output message="tns:deliveredReq"/>
      <wsdl:fault name="fault" message="tns:deliveredReq"/>
    </wsdl:operation>
    <wsdl:operation name="poser">
      <wsdl:input message="tns:getPosersRequest"/>
      <wsdl:output message="tns:getPosersResponse"/>
      <wsdl:fault name="fault" message="tns:getPosersFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExampleBinding" type="tns:ExamplePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="pokebowl">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="poser">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="ExamplePort" binding="tns:ExampleBinding">
      <soap:address location="http://bad.example/service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
